body {
    background-color:black;
}

a{
    text-decoration: none;
}

.color{
    margin: auto;
    background-color:rgb(156, 106, 106);
}

.cangiua{
    display: block;
    margin-left: 300pt; 
    margin-right: auto;
    
}
.cangiua2{
   
    margin-left: 20px; 
    margin-right: auto;
    
}
.cangiua1{
    
    display: block;     
    margin-left: 300px; 
    margin-right: auto;
    margin-top: 10px;
}
.box{
    margin: 10px auto;
    width: 300px;
    height: 50px;
    
  }

  
  .container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }

  .mau{
      margin-top: 10px;
      margin-left: 50px;
      margin-right: 50px;   
      background-color: #63717f;
  }
  P{
        text-align: center;
        font-size: 25px;
        color: white;
  }

  .but{
        display: block;
        margin : 0px auto;
       
        background-color: red;
  }
  .gachchan{
    text-decoration-line:underline;
    
  }

  .di{
      display:flex;
      margin: 10px auto;
  }


  .can{
      padding-bottom: 100px;
  }